@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Roboto", sans-serif;
  --font-mono: "Space Mono", monospace;
}

body {
  font-family: var(--font-sans);
}

.code-font {
  font-family: var(--font-mono);
}
